html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-content {
  display: grid;
  z-index: -1;
  height: 100vh;
}

#style-selector-control { 
  position: absolute;
  left: 0;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.map-control {
  font-family: 'Roboto','sans-serif';
  margin: 10px;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.search {
  width: 100%;
  z-index: 2;
  width: 380px;
  display: grid !important;
  grid-gap: 10px;
  grid-auto-columns: auto;
  place-self: center;
}

.search-field {
  width: 366px;
  padding: 5px;
}

ul::-webkit-scrollbar {
  width: 1em;
}

ul::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

ul::-webkit-scrollbar-thumb {
  border-radius: 22px;
background-color: black;
outline: 1px solid slategrey;
}

ul {
  display: grid;
  border-radius: 20px;
  background: darkgrey;
  border: 1px solid darkgrey;
  overflow: auto;
  padding: 0px;
  margin: 0;
  max-height: 200px;
}

.box {
  cursor: pointer;
  padding: 5px;
}

.box:hover {
  background-color: #269abc;
  color: white;
}

.button {  
  border-radius: 20px;
  background: white;
  text-align: center;
  padding: 5px;
  border: 1px darkgrey solid;
  cursor: pointer;
  width: 380px;
}

#pano {
  height: 150px;
  width: 340px;
}

.name {
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 0 0 20px blueviolet;
}

#map {
  top: -280px !important;
  height: 100vh;
}

.button-toggled {
  visibility: hidden;
  display: none;
} 

.placement-toggled {
  margin-bottom: 212px;
}